<head>
  <style>
    .main {
      width: 700px;
      margin-left: auto;
      margin-right: auto;
    }
    </style>
</head>

<body>
<div class="main">
  <h2 style="text-align: center">Пополнить счет</h2>
  <div>
    <form action="/deposit" method="POST">
      <div class="form-floating mb-3">
        <input type="number" step="any" class="form-control" name="money">
        <label for="floatingInput">Введите сумму</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control">
        <label for="floatingPassword">Номер карты</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control">
        <label for="floatingPassword">Срок действия</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control">
        <label for="floatingPassword">CVC/CVV</label>
      </div>
      <hr>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <button type="submit" class="btn btn-primary" style="width: 700px;">Продолжить</button>
    </form>
  </div>
</div>
</body>