<head>
  <style>
    body {
      width: 700px;
    }
    </style>
</head>

<body>
  <h2 style="text-align: center">Вход</h2>
  <div>
    <form action="/user/login" method="POST">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" name="email">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" name="password">
        <label for="floatingPassword">Password</label>
      </div>
      <hr>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <button type="submit" class="btn btn-primary" style="width: 700px;">Войти</button>
    </form>
  </div>
</body>