<head>
  <style>
    body {
      width: 700px;
    }
    </style>
</head>

<body>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Дата</th>
          <th scope="col">Сумма</th>
        </tr>
      </thead>
      <tbody>
        <% @stat.each do |st| %>
        <tr>
          <td><%= st.created_at.strftime("%d %b %Y %H:%M")%></td>
          <td><%= st.amount%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
</body>