<head>
  <style>
    .main {
      width: 700px;
      margin-left: auto;
      margin-right: auto;
    }
    </style>
</head>

<body>
  <h2 style="text-align: center">Создание события</h2>
  <div class="main">

    <form enctype="multipart/form-data" action="/events/create_via_upload" method="POST">
      <input type="file" class="btn btn-primary" name="file">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <input type="submit" class="btn btn-success" value="Отправить">
    </form>
    <hr>

    <form action="/event/create" method="POST">
      <div class="form-floating mb-3">
        <input type="datetime-local" class="form-control" name="dattime">
        <label for="floatingInput">Дата и время</label>
      </div>
      <div class="form-floating">
        <input class="form-control" name="team1">
        <label for="floatingInput">Первая команда</label>
      </div>
      <div class="form-floating">
        <input class="form-control" name="team2">
        <label for="floatingInput">Вторая команда</label>
      </div>
      <div class="form-floating">
        <input class="form-control" type="number" step="any" name="win_ratio_1">
        <label for="floatingInput">Победит первая команда</label>
      </div>
      <div class="form-floating">
        <input class="form-control" type="number" step="any" name="win_ratio_2">
        <label for="floatingInput">Победит вторая команда</label>
      </div>
      <div class="form-floating">
        <input class="form-control" type="number" step="any" name="draw_ratio">
        <label for="floatingInput">Ничья</label>
      </div>
      <div class="form-floating">
        <select class="form-select" aria-label="Default select example" name="category">
          <option selected>Выберите категорию</option>
          <option>football</option>
          <option>hockey</option>
          <option>futsal</option>
          <option>basketball</option>
          <option>handball</option>
        </select>
      </div>
      <hr>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <button type="submit" class="btn btn-primary" style="width: 700px;">Создать</button>
    </form>
  </div>
</body>